.words {

  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
}

textarea {
  background-color: grey;
  font-size: large;
  margin-bottom: 20px;
  width: 80%;
  resize: none;
}

.count {
  display:flex;
  flex-direction:column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400px;
  color:yellowgreen;
  margin: 200px;
  font-size: 25px;
  }

body{ 
  background-image: url(/pexels-felix-mittermeier-956999.jpg);
  background-repeat: no-repeat;

}
h1{color: yellowgreen;
margin: 40px;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.align{display: flex;
flex-direction: row;}
.align0{display: flex;
flex-direction: row;}